a {
  text-decoration: none;
  cursor: pointer;
}

header {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 1420px;
  padding: 0 20px;
}

header {
  background-color: #c2efd4;
  width: 100%;
  font-family: "Poppins";
}
header .container {
  display: flex;
  align-items: center;
}
header .container .header-logo {
  margin-right: 378px;
}
header .container .logo {
  transition: opacity 250ms ease;
}
header .container .logo:hover,
header .container .logo:focus {
  opacity: 70%;
}
header .container .header-nav {
  margin-right: 184px;
}
header .container .header-nav-list {
  display: flex;
  gap: 58px;
}
header .container .header-link {
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-transform: uppercase;
  color: #224f34;
  padding: 62px 0;
  display: block;
  transition: font-size 250ms ease;
}
header .container .header-link:hover,
header .container .header-link:focus {
  font-size: 26px;
}
header .container .bag-svg {
  margin-right: 56px;
  position: relative;
  transition: background-color 300ms ease;
}
header .container .ellipse {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #10ff70;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  left: 22px;
  top: 22px;
}
header .container .bag-svg:hover .ellipse,
header .container .bag-svg:focus .ellipse {
  background-color: #2e6b46;
}
header .container .header-button {
  box-sizing: border-box;
  border: 2px solid #224f34;
  border-radius: 3px;
  width: 142px;
  height: 52px;
  background-color: transparent;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #224f34;
  transition: background-color 300ms ease, color 300ms ease;
}
header .container .header-button:hover,
header .container .header-button:focus {
  background-color: #224f34;
  color: #fff;
}
header .container .open-menu {
  display: none;
}
header .mobile-menu {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 70%;
  right: -100%;
  background-color: #224f34;
  z-index: 999;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: right 350ms ease;
}
header .mobile-menu-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header .mobile-menu-link {
  font-weight: 500;
  font-size: 30px;
  line-height: 33px;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 0;
  display: block;
  transition: font-size 250ms ease;
}
header .mobile-menu-link:hover,
header .mobile-menu-link:focus {
  font-size: 36px;
}
header body.modal-open {
  overflow: hidden;
}
header .backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  transition: opacity 500ms ease;
}
header .backdrop.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms ease;
}
header .modal {
  width: 700px;
  height: 700px;
  background-color: #2e6b46;
  border-radius: 6px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: transform 400ms ease;
  padding: 50px 40px;
}
header .backdrop.hidden .modal {
  transform: translate(-50%, -50%) scale(0.4) rotate(-35deg);
}
header .modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #2e6b46;
  border: none;
}
header .modal__close svg {
  fill: #c2efd4;
  transition: fill 300ms ease;
}
header .modal__close:hover svg,
header .modal__close:focus svg {
  fill: #fff;
}
header .form {
  height: 100%;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
header .input-group {
  margin-bottom: 25px;
  position: relative;
}
header .input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  outline: none;
  transition: border-color 250ms ease-in-out;
}
header .input-group input:focus {
  border-color: #224f34;
}
header .input-group label {
  position: absolute;
  left: 12px;
  top: 12px;
  color: #777;
  padding: 0 4px;
  transition: transform 250ms ease-in-out;
}
header .input-group input:focus + label,
header .input-group input:not(:placeholder-shown) + label {
  color: #224f34;
  font-size: 12px;
  transform: translateY(-28px);
}
header .checkbox {
  margin-bottom: 20px;
}
header .form button {
  margin-top: 20px;
  display: block;
  box-sizing: border-box;
  border: 2px solid #224f34;
  border-radius: 3px;
  width: 120px;
  height: 40px;
  background-color: transparent;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #224f34;
  color: #fff;
  transition: background-color 300ms ease, color 300ms ease;
}

.hero {
  background-color: #c2efd4;
  padding-top: 150px;
  padding-bottom: 164px;
}
.hero .container {
  display: flex;
}
.hero .container .hero-text {
  margin-right: 160px;
}
.hero .container .hero-h1 {
  width: 650px;
  font-family: "Rufina";
  font-weight: 700;
  font-size: 86px;
  line-height: 106px;
  color: #224f34;
  margin-bottom: 26px;
}
.hero .container .hero-p {
  width: 564px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 220%;
  color: #267d49;
  margin-bottom: 54px;
}
.hero .container .hero-button {
  width: 258px;
  height: 74px;
  background-color: hsl(144, 40%, 22%);
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: 6px 33px 59px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  border-color: hsl(144, 40%, 22%);
  transition: opacity 300ms ease;
}
.hero .container .hero-button:hover,
.hero .container .hero-button:focus {
  opacity: 70%;
}
.hero .container .hero-picture {
  width: 570px;
  height: 716px;
}

.best {
  padding-top: 114px;
  padding-bottom: 92px;
}
.best .container .best-cards {
  display: flex;
  gap: 44px;
  margin-bottom: 80px;
}
.best .container .best-h2 {
  font-family: "Roboto Slab";
  font-weight: 500;
  font-size: 64px;
  line-height: 84px;
  color: #224f34;
  margin-bottom: 36px;
  text-align: center;
}
.best .container .best-p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #224f34;
  margin-bottom: 80px;
  text-align: center;
}
.best .container .best-card-h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #373737;
  margin-bottom: 8px;
}
.best .container .best-card-text {
  display: flex;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #454545;
  justify-content: center;
}
.best .container .best-card-p1 {
  width: 114px;
  border-right: 1px solid #454545;
  margin-right: 48px;
}
.best .container .rating {
  display: flex;
}
.best .container .best-card-p {
  margin-right: 8px;
}
.best .container .star {
  flex-shrink: 0;
}
.best .container .best-text {
  padding-top: 50px;
}
.best .container .best-picture-1 {
  display: block;
  background-color: rgb(183, 208, 193);
  width: 430px;
  height: 566px;
}
.best .container .best-picture-2 {
  display: block;
  background-color: rgb(196, 225, 207);
  width: 430px;
  height: 566px;
}
.best .container .best-picture-3 {
  display: block;
  background-color: rgb(217, 229, 220);
  width: 430px;
  height: 566px;
}
.best .container .best-button {
  width: 224px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #224f34;
  border-radius: 3px;
  background-color: transparent;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #224f34;
  gap: 18px;
  margin: 0 auto;
  transition: background-color 500ms ease, color 500ms ease;
}
.best .container .best-button:hover,
.best .container .best-button:focus {
  background-color: #224f34;
  color: #fff;
  transition: fill 500ms ease;
}
.best .container .best-button:hover .arrow-right,
.best .container .best-button:focus .arrow-right {
  fill: #fff;
}
.best .container .arrow-right {
  fill: #224f34;
}

.products {
  padding-top: 92px;
  padding-bottom: 97px;
}
.products .container {
  text-align: center;
}
.products .container .products-h2 {
  font-family: "Roboto Slab";
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  color: #224f34;
  margin-bottom: 70px;
}
.products .container .products-list {
  width: 750px;
  display: flex;
  gap: 100px;
  margin-bottom: 82px;
  margin-left: auto;
  margin-right: auto;
}
.products .container .products-link {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-transform: uppercase;
  color: #454545;
  transition: border-bottom 400ms ease;
}
.products .container .products-link:hover,
.products .container .products-link:focus {
  border-bottom: 2px solid #224f34;
}
.products .container .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 82px 35px;
}
.products .container .product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products .container .product-text {
  padding-top: 36px;
}
.products .container .products-picture {
  width: 318px;
  height: 378px;
  display: block;
  overflow: hidden;
}
.products .container .products-picture img {
  width: 318px;
  height: 378px;
}
.products .container .picture-2 {
  background-color: #eaebf0;
}
.products .container .picture-8 {
  background-color: #e6f1e9;
}
.products .container .product-card-h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #373737;
}
.products .container .product-card-text {
  display: flex;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #454545;
  justify-content: center;
}
.products .container .product-card-p1 {
  width: 114px;
  border-right: 1px solid #454545;
  margin-right: 48px;
}
.products .container .rating {
  display: flex;
}
.products .container .product-card-p {
  margin-right: 8px;
}
.products .container .star {
  flex-shrink: 0;
}

.exclusive {
  padding-top: 97px;
  padding-bottom: 109px;
}
.exclusive .container {
  background-color: #c2efd4;
  display: flex;
}
.exclusive .container .exclusive-pic {
  padding-right: 104px;
  padding-left: 82px;
}
.exclusive .container .exclusive-picture {
  width: 482px;
  height: 596px;
}
.exclusive .container .exclusive-text {
  padding-top: 74px;
}
.exclusive .container .exclusive-h2 {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 46px;
  line-height: 61px;
  color: #224f34;
  margin-bottom: 20px;
}
.exclusive .container .exclusive-p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
  line-height: 37px;
  color: #224f34;
  width: 588px;
  margin-bottom: 40px;
}
.exclusive .container .exclusive-list {
  display: flex;
  gap: 34px;
  margin-bottom: 40px;
}
.exclusive .container .exclusive-list-item {
  width: 100px;
  height: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #224f34;
  box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  text-align: center;
}
.exclusive .container .item-big {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  display: block;
}
.exclusive .container .exclusive-button {
  width: 234px;
  height: 74px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #224f34;
  border-radius: 3px;
  border: none;
  transition: opacity 300ms ease;
}
.exclusive .container .exclusive-button:hover,
.exclusive .container .exclusive-button:focus {
  opacity: 70%;
}

.designers {
  padding-top: 109px;
  padding-bottom: 125px;
}
.designers .container {
  text-align: center;
}
.designers .container .designers-h2 {
  font-family: "Roboto Slab";
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  color: #224f34;
  margin-bottom: 50px;
}
.designers .container .designers-p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #224f34;
  margin-bottom: 72px;
}
.designers .container .designers-list {
  display: flex;
  gap: 42px;
}
.designers .container .designers-text {
  padding-top: 24px;
}
.designers .container .designers-picture {
  width: 430px;
  height: 566px;
  display: block;
}
.designers .container .picture-1 {
  display: block;
  background-color: #d3e2d7;
  overflow: hidden;
}
.designers .container .picture-1 img {
  display: block;
  margin: 50px auto 0;
}
.designers .container .designers-h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #373737;
  margin-bottom: 4px;
}
.designers .container .designers-card-p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
  line-height: 143%;
  color: #373737;
  width: 420px;
}

.feedback {
  padding-bottom: 192px;
  padding-top: 125px;
}
.feedback .container .feedback-h2 {
  font-family: "Roboto Slab";
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  color: #224f34;
  text-align: center;
  margin-bottom: 110px;
}
.feedback .container .feedback-cards {
  display: flex;
  gap: 36px;
  margin-bottom: 124px;
}
.feedback .container .feedback-card {
  width: 434px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right: 25px;
  padding-top: 2px;
}
.feedback .container .card-2 {
  background-color: #c2efd4;
}
.feedback .container .card-2 .feedback-p {
  color: #224f34;
}
.feedback .container .feedback-h3 {
  font-family: "Roboto Serif";
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #224f34;
  margin-bottom: 30px;
}
.feedback .container .feedback-p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6f6f6f;
}
.feedback .container .feedback-buttons {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.feedback .container .feedback-button {
  width: 40px;
  height: 40px;
  background-color: #fff;
  filter: drop-shadow(0px 7px 51px rgba(0, 0, 0, 0.2));
  border: none;
  border-radius: 4px;
  transition: background-color 300ms ease;
  padding: 12px 12px;
}
.feedback .container .feedback-button:hover {
  background-color: #c2efd4;
}

footer {
  background: #224f34;
  color: #fff;
  padding: 80px 0 174px;
  width: 100%;
}
footer .container .flex {
  display: flex;
  margin-bottom: 154px;
}
footer .container .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 24px;
  gap: 144px;
}
footer .container .social {
  margin-right: 216px;
}
footer .container .logo-link {
  margin-bottom: 44px;
  display: block;
}
footer .container .social-icon {
  transition: width 300ms ease, height 300ms ease;
}
footer .container .social-icon:hover,
footer .container .social-icon:focus {
  width: 30px;
  height: 30px;
}
footer .container .social-title {
  font-family: "Roboto Slab";
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 24px;
}
footer .container .social-list {
  display: flex;
  gap: 36px;
}
footer .container .menu-title,
footer .container .form-title {
  font-family: "Roboto Slab";
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 24px;
}
footer .container .menu-link {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #c2efd4;
  transition: font-size 300ms ease;
}
footer .container .footer-menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
footer .container .menu-link:hover,
footer .container .menu-link:focus {
  font-size: 24px;
}
footer .container .form-input {
  width: 486px;
  height: 56px;
  border-radius: 4px;
  border: 3px solid #a3f3be;
  background-color: transparent;
  outline: none;
  transition: border-color 250ms ease-in-out;
  font-family: "Poppins";
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 28px;
}
footer .container .form-group {
  position: relative;
}
footer .container .form-label {
  position: absolute;
  left: 28px;
  top: 14px;
  color: #777;
  padding: 0 4px;
  transition: transform 250ms ease-in-out, color 250ms ease-in-out, font-size 250ms ease-in-out;
  font-family: "Poppins";
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
footer .container .form-input:focus + label,
footer .container .form-input:not(:placeholder-shown) + label {
  color: #a3f3be;
  font-size: 14px;
  transform: translateY(-36px);
}
footer .container .submit-btn {
  width: 116px;
  height: 56px;
  background-color: #a3f3be;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #224f34;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  transition: opacity 300ms ease;
}
footer .container .submit-btn:hover,
footer .container .submit-btn:focus {
  opacity: 70%;
}
footer .container .footer-bottom {
  display: flex;
  justify-content: end;
  position: relative;
}
footer .container .footer-bottom::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 1051px;
  height: 2px;
  background-color: #a3f3be;
  border-radius: 2px;
}
footer .container .legal-links {
  display: flex;
  gap: 35px;
}
footer .container .legal-link {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #ffffff;
  transition: background-color 300ms ease, border-radius 300ms ease;
}
footer .container .legal-link:hover,
footer .container .legal-link:focus {
  background-color: #61786b;
  border-radius: 6px;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
    padding: 0 15px;
  }
  header .container .header-logo {
    margin-right: 200px;
  }
  header .container .header-nav {
    margin-right: 120px;
  }
  .hero .container .hero-text {
    margin-right: 120px;
  }
  .hero .container .hero-h1 {
    width: 500px;
    font-size: 70px;
  }
  .hero .container .hero-p {
    width: 450px;
    font-size: 24px;
  }
  .hero .container .hero-picture img {
    width: 500px;
    height: 636px;
  }
  .best .container .best-picture-1,
  .best .container .best-picture-2,
  .best .container .best-picture-3 {
    width: 350px;
    height: 450px;
  }
  .best .container .best-picture-1 img,
  .best .container .best-picture-2 img,
  .best .container .best-picture-3 img {
    width: 350px;
    height: 450px;
  }
  .best .container .best-cards {
    gap: 30px;
  }
  .products .container .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .exclusive .container .exclusive-pic {
    padding-right: 70px;
    padding-left: 60px;
  }
  .exclusive .container .exclusive-p {
    width: 450px;
  }
  .designers .container .designers-picture {
    width: 350px;
    height: 450px;
  }
  .designers .container .designers-picture img {
    width: 350px;
    height: 450px;
  }
  .designers .container .designers-list {
    gap: 26px;
    justify-content: center;
  }
  .designers .container .designers-card-p {
    width: 300px;
  }
  .designers .container .designers-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feedback .container .feedback-card {
    width: 360px;
  }
  footer .container .grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
  }
  footer .container .grid-1 {
    margin: 0;
    width: 100px;
  }
  footer .container .footer-bottom::after {
    width: 750px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    padding: 0 15px;
  }
  header .container {
    padding-top: 40px;
  }
  header .container .header-logo {
    margin-right: 500px;
  }
  header .container .header-nav {
    display: none;
  }
  header .container .header-button {
    margin-right: 20px;
  }
  header .container .open-menu {
    display: block;
    background-color: #c2efd4;
    border: none;
  }
  header .container .open-menu svg {
    fill: #224f34;
    transition: fill 300ms ease;
  }
  header .container .open-menu:hover svg,
  header .container .open-menu:focus svg {
    fill: #fff;
  }
  header .mobile-menu.is-open {
    right: 0;
  }
  header .close-menu {
    border: none;
    background-color: #224f34;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  header .close-menu svg {
    transition: fill 300ms ease;
    fill: #fff;
  }
  header .close-menu:hover svg,
  header .close-menu:focus svg {
    fill: #c2efd4;
  }
  .hero {
    padding-top: 100px;
  }
  .hero .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero .container .hero-h1 {
    width: 780px;
  }
  .hero .container .hero-p {
    width: 650px;
  }
  .best .container .best-cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .products .container .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .products .container .products-picture {
    width: 280px;
    height: 360px;
  }
  .products .container .products-picture img {
    width: 280px;
    height: 360px;
  }
  .exclusive .container .exclusive-pic {
    padding-right: 10px;
    padding-left: 10px;
  }
  .exclusive .container .exclusive-p {
    width: 400px;
  }
  .designers .container .designers-list {
    flex-wrap: wrap;
    row-gap: 40px;
  }
  .feedback .container .feedback-card {
    width: 360px;
  }
  footer .container .grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
    column-gap: 0;
  }
  footer .container .footer-bottom::after {
    width: 600px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
    padding: 0 10px;
  }
  header .container .header-logo {
    margin-right: 350px;
  }
  header .container .header-nav {
    margin-right: 120px;
  }
  header .modal {
    width: 500px;
    height: 500px;
    background-color: #2e6b46;
    border-radius: 6px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    transition: transform 400ms ease;
    padding: 50px 40px;
  }
  .hero .container .hero-h1 {
    width: 600px;
  }
  .hero .container .hero-p {
    width: 600px;
  }
  .best .container .best-cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .products .container .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .products .container .products-list {
    gap: 70px;
  }
  .exclusive .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .exclusive .container .exclusive-pic {
    order: 1;
  }
  .exclusive .container .exclusive-p {
    width: 550px;
  }
  .designers .container .designers-list {
    flex-wrap: wrap;
    row-gap: 40px;
  }
  .feedback .container .feedback-card {
    width: 360px;
  }
  footer .container .flex {
    flex-direction: column;
  }
  footer .container .grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
    column-gap: 0;
  }
  footer .container .submit-btn {
    right: 214px;
  }
  footer .container .footer-bottom::after {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 556px;
    padding: 0 10px;
  }
  header .container .header-logo {
    margin-right: 100px;
  }
  header .container .header-nav {
    margin-right: 120px;
  }
  .hero .container {
    align-items: start;
  }
  .hero .container .hero-h1 {
    width: 400px;
    font-size: 50px;
  }
  .hero .container .hero-p {
    width: 400px;
  }
  .products .container .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .products .container .products-list {
    flex-wrap: wrap;
    column-gap: 180px;
    row-gap: 20px;
    justify-content: center;
    width: 500px;
  }
  .exclusive .container .exclusive-p {
    width: 500px;
  }
  .designers .container .designers-list {
    flex-wrap: wrap;
    row-gap: 40px;
  }
  .feedback .container .feedback-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .container .flex {
    flex-direction: column;
  }
  footer .container .grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
    column-gap: 0;
  }
  footer .container .submit-btn {
    right: 0;
  }
  footer .container .footer-bottom::after {
    width: 200px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 380px;
    padding: 0 10px;
  }
  header .container .header-logo {
    margin-right: 70px;
  }
  header .container .bag-svg {
    margin-right: 20px;
  }
  header .container .header-button {
    border-radius: 3px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
  }
  header .modal {
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
  }
  header .form {
    width: 280px;
    height: 400px;
    margin: 0 auto;
  }
  header .close-menu {
    top: 20px;
    right: 70px;
  }
  header .mobile-menu-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
  header .logo-mobile {
    width: 94px;
    height: 50px;
  }
  .hero {
    padding-bottom: 100px;
  }
  .hero .container {
    align-items: start;
    padding: 0 20px;
  }
  .hero .container .hero-h1 {
    width: 320px;
    font-size: 40px;
    line-height: 70px;
  }
  .hero .container .hero-p {
    width: 300px;
    font-size: 16px;
  }
  .hero .container .hero-button {
    width: 134px;
    height: 44px;
    background-color: hsl(144, 40%, 22%);
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
  }
  .hero .container .hero-picture {
    width: 300px;
    height: 360px;
  }
  .hero .container .hero-picture img {
    width: 300px;
    height: 360px;
  }
  .best .container .best-h2 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .best .container .best-p {
    font-size: 16px;
    line-height: 24px;
  }
  .best .container .best-card-h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .best .container .best-card-text {
    font-size: 14px;
    line-height: 20px;
  }
  .best .container .best-card-p1 {
    width: 80px;
    border-right: 1px solid #454545;
    margin-right: 48px;
  }
  .best .container .best-picture-1,
  .best .container .best-picture-2,
  .best .container .best-picture-3 {
    width: 300px;
    height: 406px;
  }
  .best .container .best-picture-1 img,
  .best .container .best-picture-2 img,
  .best .container .best-picture-3 img {
    width: 300px;
    height: 406px;
  }
  .products .container .products-h2 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 50px;
  }
  .products .container .products-list {
    gap: 100px;
    row-gap: 30px;
    width: 350px;
  }
  .products .container .products-link {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .exclusive .container .exclusive-p {
    width: 350px;
    font-size: 16px;
    line-height: 22px;
  }
  .exclusive .container .exclusive-h2 {
    font-size: 40px;
    line-height: 60px;
  }
  .exclusive .container .exclusive-list {
    display: flex;
    gap: 34px;
  }
  .exclusive .container .exclusive-list-item {
    width: 60px;
    height: 60px;
    font-size: 12px;
    line-height: 18px;
  }
  .exclusive .container .item-big {
    font-size: 24px;
    line-height: 32px;
  }
  .exclusive .container .exclusive-button {
    width: 120px;
    height: 44px;
    font-size: 16px;
    line-height: 24px;
  }
  .exclusive .container .exclusive-picture {
    width: 360px;
    height: 450px;
  }
  .exclusive .container .exclusive-picture img {
    width: 360px;
    height: 450px;
  }
  .designers .container .designers-h2 {
    font-size: 40px;
    line-height: 60px;
  }
  .designers .container .designers-p {
    font-size: 16px;
    line-height: 22px;
  }
  .designers .container .designers-picture {
    width: 300px;
    height: 406px;
  }
  .designers .container .designers-picture img {
    width: 300px;
    height: 406px;
  }
  .designers .container .designers-h3 {
    font-size: 18px;
    line-height: 26px;
  }
  .designers .container .designers-card-p {
    font-size: 14px;
    line-height: 20px;
    width: 300px;
  }
  .feedback .container .feedback-h2 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 70px;
  }
  .feedback .container .feedback-card {
    width: 300px;
  }
  .feedback .container .feedback-h3 {
    font-size: 16px;
    line-height: 22px;
  }
  .feedback .container .feedback-p {
    font-size: 12px;
    line-height: 20px;
  }
  footer .container .form-input {
    width: 300px;
    height: 50px;
  }
  footer .container .form-label {
    left: 14px;
    top: 14px;
    font-size: 16px;
    line-height: 22px;
  }
  footer .container .submit-btn {
    width: 80px;
    height: 50px;
    right: 60px;
    font-size: 16px;
    line-height: 22px;
  }
  footer .container .footer-bottom::after {
    width: 60px;
  }
}/*# sourceMappingURL=main.css.map */