body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

h1,
p {
  margin: 0;
}

button {
  cursor: pointer;
}
