.best {
  padding-top: 114px;
  padding-bottom: 92px;

  .container {
    .best-cards {
      display: flex;
      gap: 44px;
      margin-bottom: 30px;
    }
    .best-h2 {
      font-family: 'Roboto Slab';
      font-weight: 500;
      font-size: 64px;
      line-height: 84px;
      color: #224f34;
      margin-bottom: 36px;
      text-align: center;
    }
    .best-p {
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 22px;
      line-height: 33px;
      color: #224f34;
      margin-bottom: 80px;
      text-align: center;
    }
    .best-card-h3 {
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      text-align: center;
      color: #373737;
      margin-bottom: 8px;
    }
    .best-card-text {
      display: flex;
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 22px;
      line-height: 33px;
      color: #454545;
      justify-content: center;
    }
    .best-card-p1 {
      width: 114px;
      border-right: 1px solid #454545;
      margin-right: 48px;
    }
    .rating {
      display: flex;
    }
    .best-card-p {
      margin-right: 8px;
    }
    .star {
      flex-shrink: 0;
    }
    .best-text {
      padding: 50px 30px;
    }
    .best-picture-1 {
      display: block;
      background-color: rgb(183, 208, 193);
      width: 430px;
      height: 566px;
    }
    .best-picture-2 {
      display: block;
      background-color: rgb(196, 225, 207);
      width: 430px;
      height: 566px;
    }
    .best-picture-3 {
      display: block;
      background-color: rgb(217, 229, 220);
      width: 430px;
      height: 566px;
    }
    .best-button {
      width: 224px;
      height: 66px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #224f34;
      border-radius: 3px;
      background-color: transparent;
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 22px;
      line-height: 33px;
      color: #224f34;
      gap: 18px;
      margin: 0 auto;
      transition: background-color 500ms ease, color 500ms ease;
    }

    .best-button:hover,
    .best-button:focus {
      background-color: #224f34;
      color: #fff;
      transition: fill 500ms ease;
    }
    .best-button:hover .arrow-right,
    .best-button:focus .arrow-right {
      fill: #fff;
    }

    .arrow-right {
      fill: #224f34;
    }
  }
}
