.feedback {
  padding-bottom: 192px;
  padding-top: 125px;
  .container {
    .feedback-h2 {
      font-family: 'Roboto Slab';
      font-weight: 500;
      font-size: 50px;
      line-height: 66px;
      color: #224f34;
      text-align: center;
      margin-bottom: 110px;
    }
    .feedback-cards {
      display: flex;
      gap: 36px;
      margin-bottom: 124px;
    }
    .feedback-card {
      width: 434px;
      background-color: #fff;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      padding-left: 20px;
      padding-bottom: 30px;
      padding-right: 25px;
      padding-top: 6px;
    }
    .card-2 {
      background-color: #c2efd4;
      .feedback-p {
        color: #224f34;
      }
    }

    .feedback-h3 {
      font-family: 'Roboto Serif';
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      color: #224f34;
      margin-bottom: 30px;
    }
    .feedback-p {
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #6f6f6f;
    }
    .feedback-buttons {
      display: flex;
      gap: 50px;
      justify-content: center;
    }
    .feedback-button {
      width: 40px;
      height: 40px;
      background-color: #fff;
      filter: drop-shadow(0px 7px 51px rgba(0, 0, 0, 0.2));
      border: none;
      border-radius: 4px;
      transition: background-color 300ms ease;
      padding: 12px 12px;
    }
    .feedback-button:hover {
      background-color: #c2efd4;
    }
  }
}
