@media (max-width: 480px) {
  .container {
    max-width: 420px;
    padding: 0 15px;
  }

  header {
    .container {
      .logo {
        margin-right: 50px;
      }
    }

    .modal {
      width: 300px;
      height: 500px;
      display: flex;
      justify-content: center;
    }

    .form {
      width: 280px;
      height: 400px;
      margin: 0 auto;
    }

    .close-menu {
      top: 20px;
      right: 70px;
    }
  }

  .hero {
    .container {
      align-items: start;
      padding: 0 20px;
      .hero-h1 {
        width: 320px;
        font-size: 40px;
        line-height: 70px;
      }

      .hero-p {
        width: 300px;
        font-size: 16px;
      }

      .hero-picture {
        width: 300px;
        height: 360px;
      }
      .hero-picture img {
        width: 300px;
        height: 360px;
      }
    }
  }

  .exclusive {
    .container {
      .exclusive-p {
        width: 350px;
      }
    }
  }

  footer {
    .container {
      .form-input {
        width: 300px;
      }

      .footer-bottom::after {
        width: 80px;
      }
    }
  }
}
