@media (max-width: 992px) {
  .container {
    max-width: 960px;
    padding: 0 15px;
  }

  header {
    .container {
      padding-top: 40px;
      .logo {
        margin-right: 500px;
      }

      .header-nav {
        display: none;
      }

      .header-button {
        margin-right: 20px;
      }

      .open-menu {
        display: block;
        background-color: #c2efd4;
        border: none;
      }

      .open-menu svg {
        fill: #224f34;
        transition: fill 300ms ease;
      }

      .open-menu:hover svg,
      .open-menu:focus svg {
        fill: #fff;
      }
    }

    .mobile-menu.is-open {
      left: 30%;
    }

    .close-menu {
      border: none;
      background-color: #224f34;
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .close-menu svg {
      transition: fill 300ms ease;
      fill: #fff;
    }

    .close-menu:hover svg,
    .close-menu:focus svg {
      fill: #c2efd4;
    }
  }

  .hero {
    padding-top: 100px;
    .container {
      flex-direction: column-reverse;
      align-items: center;

      .hero-h1 {
        width: 780px;
      }

      .hero-p {
        width: 650px;
      }
    }
  }

  .best {
    .container {
      .best-cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
      }
    }
  }

  .products {
    .container {
      .cards {
        grid-template-columns: repeat(3, 1fr);
      }

      .products-picture {
        width: 280px;
        height: 360px;
      }
    }
  }

  .exclusive {
    .container {
      .exclusive-picture {
        margin-right: 10px;
        margin-left: 10px;
      }

      .exclusive-p {
        width: 400px;
      }
    }
  }

  .designers {
    .container {
      .designers-list {
        flex-wrap: wrap;
        row-gap: 40px;
      }
    }
  }

  .feedback {
    .container {
      .feedback-card {
        width: 360px;
      }
    }
  }

  footer {
    .container {
      .grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
        column-gap: 0;
      }

      .footer-bottom::after {
        width: 600px;
      }
    }
  }
}
